/* 고급 선택자 */

/* 후손 결합자 : 부모 요소의 영역하에 있는 요소 선택 */
/* 공백을 구분자로 요소를 선택 */
header span {
  color: blue;
}

/* 자식 결합자 : 부모 요소의 영역하에 있는 자식 요소 선택 */
/* `>` 를 구분자로 요소를 선택 */
header > span {
  color: red;
}

/* 인접 형제 결합자 : 첫번째 선택자 요소 바로 뒤에 나오는 1개의 형제 요소를 선택 */
/* `+`를 구분자로 요소 선택 */
header + span{
  color: green;
}

/* 일반 형제 결합자 : 첫번째 선택자 요소 이후에 나오는 모든 형제 요소를 선택*/
/* `~`을 구분자로 요소 선택 */
header ~ p {
  color: purple;
}

/* 속성 선택자 (잘 안씀) */
/* 요소의 속성을 이용하여 특정 요소를 선택 */
/* [속성명] : 특정 속성이 있는 요소를 선택 */
[href] {
  /* font-size: 10px; */
}

/* 가상 선택자 : 요소의 상태에 따라 요소를 선택 */
/* 선택자:가상클래스명 <- 기본 형태 */

/* link : 아직 방문하지 않은 링크 요소 선택 */
a:link{
  color: black
}
/* visited : 방문한 링크 요소를 선택 */
a:visited{
  color: red;
}

/* hover : 마우스 커서가 올라가있는 요소 선택 */
a:hover {
  font-size: 1.5rem;
}

/* active : 클릭 중인 요소 선택 */
a:active{
  background-color: brown;
}

/* focus : 포커스가 적용되어 있는 요소 선택 */
input:focus {
  border: 3px solid red;
  outline: none;
}

/* checked : 체크된 상태의 요소를 모두 선택 */
input:checked + label {
  background-color: cadetblue;
}

/* not 선택자 : `()`의 선택자 요소를 제외한 나머지 요소에 스타일을 적용*/
header :not(span){
  background-color: brown;
}

/* nth-child(숫자) : n번째의 자식 요소를 선택
.container :nth-child(3) {
  background-color: #f00;
} */

/* nth-child(n + 숫자) : n번째 자식요소부터 선택
.container :nth-child(n + 3){
  background-color: red;
} */

/* nth-child(-n + 숫자) : n번째 자식요소부터 그 이전 요소들 선택
.container :nth-child(-n + 3){
  background-color: red;
} */

/* .container :nth-child(n + 3):nth-child(-n + 5){
  background-color: aquamarine;
} */

/* nth-child(odd | even) : 홀수 또는 짝수 번째 요소를 선택 */
/* .container :nth-child(odd){
  background-color: aquamarine;
} */

/* selector:nth-of-type(숫자) : 자식요소 중 > 특정 태그 중 > n번째를 선택 */
.container p:nth-of-type(2){
  background-color: aquamarine;
}