* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100%;
}

.side-bar {
  background-color: #ec0909;
  height: 100vh;
}

.menus * {
  color: white;
}

.side-bar  h1{
  text-align: center;
  color: white;
  margin: 20px 10px 30px 10px;
}

.menu-header {
  padding-left: 20px;
  font-weight: 900;
  background-color: #b190a4;
}

.menu-header-02 {
  margin-top: 40px;
}
.side-bar ul {
  list-style-type: none;
}

.side-bar li:hover{
  background-color: black;
  background-clip: border-box;
}

.side-bar li {
  /* border: 1px solid black; */
  padding-left: 20px;
}

/* main 시작 */
.search-bar {
  padding-left: 20px;
  padding-bottom: 5px;
}
.search-bar > input {
  width: 80%;
  height: 50px; 
}

.search-bar > button {
  font-size: 30px;
  font-weight: 900;
  color: white;
  border-radius: 50%;
  background-color: rgb(24, 25, 112);
  border: none;
  line-height: 30px;
  padding: 10px;
}

.signboard {
  width: 100%;
  height: 400px;
  background-image: url(../marvel/img/main_title.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.signboard-text {
  font-size: 4.0rem;
  font-weight: 900;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
}

.card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card-img {
  width: 300px;
  height: 300px;
}
