fieldset{
  background-image: url(../../img/beluga.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
legend{
  font-size: 30px;
  font-weight: bold;
  color: magenta;
}
.user-info label::before, .gender-select span::before{
  content: '*';
  color: red;
}
.user-info input:focus{
  border: 3px solid red;
  outline: none;
}
.gender-select-box input:checked + label{
  color: red;
}
textarea:focus{
  border: 3px solid red;
  outline: none;
}
.submit-btn{
  position: relative
}
.submit-btn:hover::after{
  content: '내용을 다시 한 번 확인해 주세요.';
  font-size: 10px;
  color: white;
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 20px;
  left: 50px;
  width: 150px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
}
input, textarea{
  background-color: transparent;
}
